<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
<% include common/_iefuck %>

<div class="wrapper">
<div class="container row">
    <header>
        <h1>手織かたそうもく</h1>
    </header>
    <main>
        <section>
            section1
        </section>
        <section>
            section2
        </section>
    </main>
    <% include common/_footer %>
</div> <!--.container row -->
</div> <!--.wrapper -->

</body>
</html>
