doctype html
html.no-js(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block title
      title 手織かたそうもく
    block description
      meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/styles/main.css')
  body
    main.content.container
      != '\n<!--[if lt IE 10]>'
      section
        p.browserupgrade
          | You are using an strong outdated browser. Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
      != '\n<![endif]-->\n'

      block content
        p Hello world! This is HTML5 Boilerplate.

    script(src='/js/bundle.js')
