// Lists
// -------------------------

// Unordered and Ordered lists
main {
  ul,
  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: .8rem;

    ul, ol {
      margin-top: .8rem;
    }
  }
}
