<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="手織かたそうもく" />
    <meta name="description" content="草木染めや型染め、手紡ぎ、手織り製品">
    <meta name="keywords" content="染織, 鳥取, 草木染, 型染, 手紡ぎ, 手織り" />
    <title>手織かたそうもく - 染織製品を手作り</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="../css/style.css">
    <script src="scripts/respond.min.js"></script>
    <!--[if lt IE 9]>
    <script src="scripts/html5shiv.js"></script>
    <![endif]-->
</head>
