    <!--[if lt IE 7]>
        <p class="ie_fuck">
            お使いのブラウザは<strong>古い</strong>ため、表示が崩れることがあります。
            <a href="http://browsehappy.com/" title="browsehappy.com">
                他のブラウザ
            </a>
            を使うか、
            <a href="http://www.google.com/chromeframe/?redirect=true" title="Google Chrome Frame">
                Google Chrome Frame
            </a>
            をインストールすることで正しく表示することができます。
        </p>
    <![endif]-->
